<h1>Browse All Events</h1>
<h1>Events </h1>

<ul id="events">
    <% Event.all.each do |event| %>
    <li>
      <%= event.title %>
      <% end %>
    </li>
</ul>

<h2>Upcoming</h2>


<h2>Past</h2>


<%= link_to "Create a New Event", new_event_path, class: "new_event" %> |
<%= link_to 'Back to Users', users_path %> 




